body { 
  margin: 0;
  overflow: hidden; 
}
#container {
  position: relative;
}
#hud {
  position: absolute;
  display: grid;
  grid-template-rows: auto 1fr;
  bottom: 0;
  left: 0;
  color:whitesmoke;
  padding: 10px;
  font-size: 5vw;
  font-family: sans-serif;
  overflow: hidden;
  width: 100%;
}
#hud input {
  color: whitesmoke;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid gray;
}
#scrolling-text-wrapper {
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#scrolling-text-wrapper::-webkit-scrollbar {
  display: none;
}