body { 
  margin: 0;
  overflow: hidden; 
}
#container {
  position: relative;
}
#hud {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  color:whitesmoke;
  padding: 10px;
  font-size: 5vw;
  font-family: sans-serif;
  overflow: hidden;
  width: 100%;
}
#hud p {
  margin: 0;
  padding: 0;
}
#hud input {
  color: whitesmoke;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid gray;
}
#scrolling-text {
  flex-grow: 1;
}
#form {
  flex-shrink: 1;
}